# Django
SECRET_KEY=
FERNET_SECRET_KEY=
DEBUG=True
GUNICORN_BIND_ADDRESS=127.0.0.1
GUNICORN_BIND_PORT=10010
ALLOWED_HOSTS=petrovich.example.com
DATABASE_URL=postgres://petrovich:petrovich@127.0.0.1:15433/petrovich
REDIS_URL=redis://127.0.0.1:16380/1
SENTRY_URL=

# Domains
PETROVICH_DOMAIN=petrovich.example.com
MINECRAFT_DOMAIN=minecraft.example.com

# Telegram
TG_WEBHOOK_SECRET=
TG_BOT_TOKEN=
TG_BOT_LOGIN=
TG_BOT_GROUP_ID=
TG_MODERATOR_CHAT_PK=
TG_PHOTO_UPLOADING_CHAT_PK=
API_TELEGRAM_URL=127.0.0.1:11060

# GPT local/OpenAI-compatible servers
QWEN_API_BASE_URLS=http://192.168.1.20:11031,http://192.168.1.10:11031

# GitHub
GITHUB_TOKEN=

# Media
DISK_SAVE_PATH=

# ImgBB
IMGBB_API_KEY=

# Yandex
YANDEX_MUSIC_ACCESS_TOKEN=
