# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
MANIFEST

# Unit test / coverage reports
coverage.xml

# Environments
secrets
venv

# PyCharm
.idea/

# cloc
cloc.exe

# Django
/static
media/

# uwsgi pid
config/petrovich.pid