# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
MANIFEST

# Unit test / coverage reports
coverage.xml

# Environments
secrets
venv
.venv

# PyCharm
.idea/

# Tool caches
.mypy_cache/
.ruff_cache/
.pytest_cache/

# cloc
cloc.exe

# Django
/static
media/

# log
/logs

# App server runtime files
config/petrovich.pid
config/petrovich.sock
