
#calculator {
  .calculator-product {
    display: flex;

    > * {
      flex-grow: 1;
      flex-basis: 0;
      margin: 0 5px;
      white-space: nowrap;
    }

    .name {
      flex-grow: 5;
    }

    .count {
      flex: 0 0 62px;
    }

    .uom {
      flex: 0 0 70px;
    }

    .is-bought {
      flex: 0 0 20px;
    }

    .user {
      flex-grow: 3;
    }

    .price {
      flex: 0 0 85px;
    }

    .delete {
      flex: 0 0 20px;
      height: 20px;
      margin: auto 0;
      border-radius: 5px;
    }
  }

  .buttons {
    & > * {
      margin-left: 10px;
    }
  }

  .users {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .calculator-product {
      &.header {
        font-size: 13px;
      }

      > * {
        padding: 0;
        margin: 0 2px;
      }

      .form-control {
        padding: 0;
      }

      .count {
        flex: 0 0 40px;
      }

      .uom {
        flex: 0 0 45px;
      }

      .price {
        flex: 0 0 58px;
      }
    }

    .buttons {
      & > * {
        font-size: 13px;
      }
    }
  }

  @media only screen and (max-width: 576px) {
    &.container-fluid {
      padding: 0;
    }

    .calculator-product {
      font-size: 10px;

      &.header {
        font-size: 10px;
      }

      & > * {
        input,
        select {
          font-size: 10px;
        }
      }

      .count {
        flex: 0 0 26px;
      }

      .uom {
        flex: 0 0 37px;
      }

      .price {
        flex: 0 0 25px;
      }
    }
  }
}

.users.fancybox {
  .calculator-users {
    .calculator-user {
      display: flex;

      .delete {
        flex: 0 0 20px;
        height: 20px;
        margin: auto 0;
        border-radius: 5px;
      }

      & > * {
        margin: 0 5px;
      }


    }
  }
}

.result.fancybox {
  display: none;

  .strelochka {
    font-size: 20px;
  }
}
