[Unit]
Description=petrovich website

[Service]
User=server
Restart=always
RestartSec=5
Nice=1
SuccessExitStatus=0 1
WorkingDirectory=/var/www/petrovich/
ExecStart=/var/www/petrovich/venv/bin/uwsgi --ini config/uwsgi.ini
ExecStop=/var/www/petrovich/venv/bin/uwsgi --stop config/petrovich.pid

[Install]
WantedBy=multi-user.target