{# ToDo: legacy ?#}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <link rel="icon" type="image/png" href="{% static "favicon_256.png" %}"/>
  <title>petrovich.andrewsha.net{% if title %} | {% endif %}{% block title %}{% endblock %}</title>

  {% block css %}
  {% endblock %}

</head>
<body>
{% block body %}
{% endblock %}
<footer>
  {% block js %}
  {% endblock %}
</footer>
</body>

</html>