{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <link rel="icon" type="image/png" href="{% static "favicon_256.png" %}"/>
  <title>andrewsha.net{% if title %} | {% endif %}{% block title %}{% endblock %}</title>
  {% render_bundle 'app' 'css' %}

  {% block css %}
  {% endblock %}

</head>
<body>
{% block body %}
  Приветы!
  <div id="calculator">
    {{ message }}
  </div>
{% endblock %}
<footer>
  {% render_bundle 'app' 'js' %}
  {% block js %}
  {% endblock %}
</footer>
</body>

</html>